nav{
    overflow: hidden;
}

/*Estilos para el Main*/
main{
    grid-area: main;
    text-align: center;
    font-family:'Open Sans', sans-serif;
}

.mainIndex{
    background-color: white;
    background-size: 200%;
}

.subTituloMain{
    text-align: center;
    font-size: 50px;
    padding: 2%;
    margin-bottom: 0%;
    color:rgb(86, 209, 250);
}

.bienvenido{
    color: white;
    margin-bottom: 2%;
}

main .cursos{
    display: flex;
    flex-direction: column;
}

.fotoCursoCupcakes img{
    justify-content: center;
}

.textoCurso{
    margin-top: 30px;
}

.separador{
    min-height: 5px;
    width: 100%;
    background-color: rgba(242, 165, 173, 0.685);
}

.textocita{
    text-align:center;
    background-color: rgba(242, 165, 173, 0.685);
    color: #fff;
    margin: 80px 0 10px 0;
    padding: 80px 10px 80px 10px;
}

.textocita p{
    font-size: 25px;
    padding: 0 0 40px 0;
}

/*Imagenes interactivas*/

.subTituloMain:hover{
    transition: 3s;
    font-size: 6rem;
}

.contenedor{
    position: relative;
    display: flex;
    display: inline-block;
    padding: 100px 0 100px 0;
    text-decoration: none;
}

.estiloDeImagen1{
    border: 2px solid rgba(129, 224, 255, 0.829);
    border-radius: 1%;
    margin: 0 52px 0 52px;
    object-fit: cover;
}

.estiloDeImagen2{
    border: 2px solid rgba(129, 224, 255, 0.829);
    border-radius: 1%;
    margin: 0 52px 0 52px;
    object-fit: cover;
}


.botonAlIndex{
    color: rgba(255, 117, 131, 0.685);
    font-weight: bold;
    margin: 11px;
    margin: -78px;
    padding: 30px 30px 30px;
    width: 260px;
    font-size: 40px;
}

.botonAlIndex:hover{
    text-decoration: none;
    color:rgba(129, 224, 255, 0.829);
}

/*Página Nosotros*/

.caja{
    padding: 30px;
}

.cajaPrincipal{ 
    display: inline-block!important;
    justify-content: center!important;
}

.cajaTextoNosotros{  
    text-align: justify;
    background-color: rgba(255, 214, 228, 0.418);
}

.cajaParrafo{
    margin: -50px 100px 10px 100px;
}
.cajaParrafo1{
    margin: 10px 100px 10px 100px;
}

/*BEM NUEVO PARA SECCIÓN RECETAS*/
.tituloReceta__padding{
    padding-bottom: 30px;
}

.tituloReceta__color{
    color: rgb(86, 209, 250);
}
.tituloReceta__position{
    text-align: center;
}
.tituloReceta__font{
    font-family:'Dancing Script', cursive;
    font-size: 60px;
}

.loren-recetas{
    font-size: 19px;
    font-family:'Open Sans', sans-serif;
}

.leerMas{
    font-size: 16px;
}
.leerMas:hover{
    color: black;
    font-weight:bolder;
}

/*Footer*/
footer{
    font-size: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    background-color:rgba(242, 165, 173, 0.685);
}

footer.page-footer .footer-copyright{
    background-color: rgba(255, 255, 255, 0.301);
}

.text-uppercase {
    text-transform: uppercase!important;
    text-align: center;
}

.col-md-6{
    text-align: left;
}

.footer-copyright a{
    color: black;
}

.mail{
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 480px) and (min-width: 320px){
    .contenedor{
        display: block;
        width: 15px;
    }

    .subTituloMain:hover{
        transition: 3s;
        font-size: 4.1rem;
    }
    
    .estiloDeImagen1{
        border: 2px solid rgba(129, 224, 255, 0.829);
        width: 398px;
        height: 400px;
        margin: -50px 30px 20px 5px;
        object-fit: cover;
    }

    .estiloDeImagen2{
        border: 2px solid rgba(129, 224, 255, 0.829);
        width: 398px;
        height: 400px;
        margin: -160px 5px 20px 5px;
        object-fit: cover;
    }

}

@media only screen and (max-width: 768px) and (min-width: 481px) {
    
    .contenedorIndex{
        grid-template-columns: auto;
        justify-content: center;
        grid-template-areas:    "header"
                                "main"
                                "section"
                                "footer";
    }

    .subTituloMain:hover{
        transition: 3s;
        font-size: 4.1rem;
    }

}
@media only screen and (min-width: 1200px){
    .contenedorIndex{
        grid-template-columns: auto;
        justify-content: center;
        grid-template-areas:    "header"
                                "main"
                                "section"
                                "footer";
    }

    .subTituloMain:hover{
        transition: 3s;
        font-size: 6rem;
    }

    .estiloDeImagen1{
        border: 6px solid rgba(129, 224, 255, 0.829);
        width: 1000px;
        height: 700px;
        object-fit: cover;
    }

    .estiloDeImagen2{
        border: 6px solid rgba(129, 224, 255, 0.829);
        width: 1000px;
        height: 700px;
        object-fit: cover;
    }

    .botonAlIndex{
        margin: -78px;
    }
    
}

.footer-copyright{
    background: linear-gradient(90deg, rgba(242,165,192,1) 19%, rgba(165,221,242,1) 100%, rgba(242,165,189,1) 100%);
    }

/*style pag cursos*/

.grillaPadre-curso{
    grid-template-columns: auto;
    justify-content: center;
    grid-template-areas:    "header"
                            "main main main"
                            "section section section"
                            "footer";
}

/*style sección nosotros*/
.cajaPrincipal{
    display: flex;
    justify-content: center!important;
}

.cajaTexto{
    display: flex;
    width: 1000px;
}

.imagenCaja{
    background-image: url(../img/sobremi1.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    min-width: 800px;
    min-height: 600px;
}  

.sobreNosotros{
    text-align:center;
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    margin: 8%;
    color:rgb(86, 209, 250);
}

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .t-cita{
        font-size: 25px;
        font-family: 'Dancing Script', cursive !important;
    }

    .imagenCaja{
        margin-top: -11px;
        min-height: 350px;
    }

    .sobreNosotros{
        font-size: 50px;
        margin-bottom: 100px;
    }

    .p-cita{
        margin-bottom: 50px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: -10px;
    }

    .cajaParrafo{
        text-align: justify;
        margin: -60px 50px 10px 50px;
    }

    .cajaParrafo2{
        text-align: justify;
        margin: 0px 50px 50px 50px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
    .t-cita{
        font-size: 25px;
        font-family: 'Dancing Script', cursive !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
    .t-cita{
        font-size: 30px;
        font-family: 'Dancing Script', cursive !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
    
    .t-cita{
        font-size: 40px;
        font-family: 'Dancing Script', cursive !important; 
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
    .t-cita{
        font-size: 50px;
        font-family: 'Dancing Script', cursive !important;
    }
} 

.text-center{
    text-align:center;
}

.text-section{
    margin: 25px;
    max-width: 500px;
}

.trd-section{
    margin-top: 80px;
}

.text-m-top{
    margin-top: 65px;
}


/* Socials */

.social{
    font-size: 50px;
    margin-top: 50px;
    text-decoration: none !important;
}

.l-social{
    display: inline-block;
    align-content: center !important;
}

.bi-facebook{
    color: #3A5795 !important;
}
.bi-facebook:hover{
    color: #fff !important;
}

.bi-instagram{
    color: #d6249f !important;
}

.bi-instagram:hover{
    color: #fff !important;
}

.bi-whatsapp{
    color: #00A478 !important;
}

.bi-whatsapp:hover{
    color: #fff !important;
}

.form{
    margin: 25px;
}

.contactText{
    text-align:center;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    margin-bottom: 20px;
    color:rgb(86, 209, 250);
}

.maps{
    margin-top: 20px;
    margin-left: 10px;
    border-left: solid 1px rgba(255, 117, 131, 0.685);
}

.nuestraHistoria{
    font-family:'Open Sans', sans-serif;
    font-size: 50px;
}

/*BEM 1*/
.tituloMain__fontdfamily{
    font-family: 'Dancing Script', cursive;
}

/*BEM 2*/
.tituloMain__color{
    color:rgb(86, 209, 250);
}

/*BEM 3*/
.tituloMain__size{
    font-size: 40px;
}

/*BEM 4*/
.tituloMain__position{
    text-align: center;
    font-size: 40px;
    padding: 2%
}

/*BEM 5*/
.textocita__posición{ 
text-align:center;
margin: 80px 0 10px 0;
padding: 80px 10px 80px 10px;
}       

/*BEM 6*/
.textocita__bg{
background-color: rgba(242, 165, 173, 0.685);
}

/*BEM 7*/
.textocita__color{
color: #fff;
}

/*BEM 8*/
.Historia__Font{
font-family:'Open Sans', sans-serif;
}

/*BEM 9*/
.Historia__size{
font-size: 50px;
}