nav{
    overflow: hidden;
        .text-d{
            text-decoration: none !important;
            color: #fff !important;
            }
                .text-d:hover{
                border: solid 1px rgb(255, 255, 255);
                }
                    .box-color{
                        background-color: rgba(242, 165, 173, 0.685) !important;
                    }
}