@import "body";
@import "header";
@import "nav";
@import "footer";
@import "social";

@mixin sizes($minWidth, $minHeight) {
    height: $minHeight;
    width: $minWidth;
}

.container-fluid{
        padding: 0 !important;
}

.img{
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include sizes (400px, 500px);
    
        &:hover{
            opacity: 0.8;
            cursor: pointer;
        }

        &.imgUno{
            background-image: url("../img/fotoprincipal1.jpg");
        }
        
        &.imgDos{
            background-image: url("../img/fotoprincipal2.jpg");
        }
        
        &.imgTres{
            background-image: url("../img/fotoprincipal3.jpg");
        }
}

.cajas{
    float: left;
    background-color: #fff;
    width: 100%;
    margin: 0;
    padding: 0 !important;
    border: 0px solid #000;
    box-sizing: border-box;
    .caja-i{
        padding: 50px;
    }
}

.img-receta{
    min-height: 540px !important;

        &.uno{
            background-image: url("../img/recetas/cupcakes.jpg");
            background-position: center;
            background-size:cover;
        }
        
        &.dos{
            background-image: url("../img/recetas/cookies.jpg");
            background-position: center;
            background-size: cover;
        }
}

.modal-header{
    background-color: rgba(242, 165, 173, 0.685);

        .modal-title{
            color: #fff;
        }
}

.bi-lg{

    font-size: 16px !important;

}

.bi-a{
    padding: 7px;
    border-radius: 5px !important;
    color: #fff;
    min-width: 150px;
    background-color: green !important;
    text-decoration: none !important;
    &:hover{

        color: #fff !important;
    }
}

.btn-dwn{
    min-width: 400px;
    border-radius: 0  0 10px 10px !important;
}

.col-md-6{
    text-align: left;
}

/*BEM 1*/
.tituloMain__fontdfamily{
    font-family: 'Merienda', cursive;
}

/*BEM 2*/
.tituloMain__color{
    color:rgb(86, 209, 250);
}

/*BEM 3*/
.tituloMain__size{
    font-size: 40px;
}

/*BEM 4*/
.tituloMain__position{
    text-align: center;
    font-size: 40px;
    padding: 2%
}

/*BEM 5*/
.textocita__posición{ 
text-align:center;
margin: 80px 0 10px 0;
padding: 80px 10px 80px 10px;
}       

/*BEM 6*/
.textocita__bg{
background-color: rgba(242, 165, 173, 0.685);
}

/*BEM 7*/
.textocita__color{
color: #fff;
}

/*BEM 8*/
.Historia__Font{
font-family:'Merienda', cursive;
color: rgb(86, 209, 250);
}

/*BEM 9*/
.Historia__size{
font-size: 50px;
}

/*BEM NUEVO PARA SECCIÓN RECETAS*/
.tituloReceta__padding{
    padding-bottom: 30px;
}

.tituloReceta__color{
    color: rgb(86, 209, 250);
}
.tituloReceta__position{
    text-align: center;
}
.tituloReceta__font{
    font-family:'Merienda', cursive;
    font-size: 60px;
}

.text-recetas{
    font-size: 19px;
    font-family:'Open Sans', sans-serif;
        .leerMas{
            font-size: 16px;
        }
        .leerMas:hover{
            color: black;
            font-weight:bolder;
        }
}

/*Inicio del separador de recetas animado*/
.separador{
    width: 100%;
    background: rgba(1, 15, 30, 0.1);
    height: 1px;
    overflow: hidden;
    position: relative;
}

.separador::before{
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-name: separador-animacion;
    background: rgb(242, 165, 173);
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 80px;
}

@keyframes separador-animacion {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(1440px);
    }
}
/*Fin del separador de recetas animado*/


.titutloGaleria{
    text-align:center;
    font-family: 'Merienda', cursive;
    font-size: 40px;
    margin-bottom: 20px;
    color:rgb(86, 209, 250);
}

#galeria{

    & .col-lg-4{
        padding: 30px;
        margin: 0 !important;
    }

    & img{
        width: 100%;

        &:hover{
            border: 5px solid #f7f7f7;
            border-color:rgba(86, 209, 250, 0.363);
        }
    }
}

