@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  overflow: hidden;
  white-space: initial;
}

header {
  background-color: rgba(242, 165, 173, 0.685);
}

header .my-0 {
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
  color: #fff;
}

nav {
  overflow: hidden;
}

nav .text-d {
  text-decoration: none !important;
  color: #fff !important;
}

nav .text-d:hover {
  border: solid 1px white;
}

nav .box-color {
  background-color: rgba(242, 165, 173, 0.685) !important;
}

footer {
  font-size: 16px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
  background-color: rgba(242, 165, 173, 0.685);
}

footer .text-uppercase {
  text-transform: uppercase !important;
  text-align: center;
}

footer .mail {
  text-decoration: none;
  color: black;
}

footer .footer-copyright {
  background: -webkit-gradient(linear, left top, right top, color-stop(19%, #f2a5c0), color-stop(100%, #a5ddf2), to(#f2a5bd));
  background: linear-gradient(90deg, #f2a5c0 19%, #a5ddf2 100%, #f2a5bd 100%);
}

footer .footer-copyright a {
  color: black;
}

.social, .fa-instagram, .insta, .face, .whatsApp {
  font-size: 50px;
  margin-top: 50px;
  text-decoration: none !important;
}

.social .l-social, .fa-instagram .l-social, .insta .l-social, .face .l-social, .whatsApp .l-social {
  display: inline-block;
  -ms-flex-line-pack: center !important;
      align-content: center !important;
}

.social .bi-facebook, .fa-instagram .bi-facebook, .insta .bi-facebook, .face .bi-facebook, .whatsApp .bi-facebook {
  color: #3A5795 !important;
}

.social .bi-facebook:hover, .fa-instagram .bi-facebook:hover, .insta .bi-facebook:hover, .face .bi-facebook:hover, .whatsApp .bi-facebook:hover {
  color: #fff !important;
}

.social .bi-instagram, .fa-instagram .bi-instagram, .insta .bi-instagram, .face .bi-instagram, .whatsApp .bi-instagram {
  color: #d6249f !important;
}

.social .bi-instagram:hover, .fa-instagram .bi-instagram:hover, .insta .bi-instagram:hover, .face .bi-instagram:hover, .whatsApp .bi-instagram:hover {
  color: #fff !important;
}

.social .bi-whatsapp, .fa-instagram .bi-whatsapp, .insta .bi-whatsapp, .face .bi-whatsapp, .whatsApp .bi-whatsapp {
  color: #00A478 !important;
}

.social .bi-whatsapp:hover, .fa-instagram .bi-whatsapp:hover, .insta .bi-whatsapp:hover, .face .bi-whatsapp:hover, .whatsApp .bi-whatsapp:hover {
  color: #fff !important;
}

.social, .fa-instagram, .insta, .face, .whatsApp {
  margin-left: 10px;
  margin-right: 10px;
}

.container-fluid {
  padding: 0 !important;
}

.img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 400px;
}

.img:hover {
  opacity: 0.8;
  cursor: pointer;
}

.img.imgUno {
  background-image: url("../img/fotoprincipal1.jpg");
}

.img.imgDos {
  background-image: url("../img/fotoprincipal2.jpg");
}

.img.imgTres {
  background-image: url("../img/fotoprincipal3.jpg");
}

.cajas {
  float: left;
  background-color: #fff;
  width: 100%;
  margin: 0;
  padding: 0 !important;
  border: 0px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cajas .caja-i {
  padding: 50px;
}

.img-receta {
  min-height: 540px !important;
}

.img-receta.uno {
  background-image: url("../img/recetas/cupcakes.jpg");
  background-position: center;
  background-size: cover;
}

.img-receta.dos {
  background-image: url("../img/recetas/cookies.jpg");
  background-position: center;
  background-size: cover;
}

.modal-header {
  background-color: rgba(242, 165, 173, 0.685);
}

.modal-header .modal-title {
  color: #fff;
}

.bi-lg {
  font-size: 16px !important;
}

.bi-a {
  padding: 7px;
  border-radius: 5px !important;
  color: #fff;
  min-width: 150px;
  background-color: green !important;
  text-decoration: none !important;
}

.bi-a:hover {
  color: #fff !important;
}

.btn-dwn {
  min-width: 400px;
  border-radius: 0  0 10px 10px !important;
}

.col-md-6 {
  text-align: left;
}

/*BEM 1*/
.tituloMain__fontdfamily {
  font-family: 'Dancing Script', cursive;
}

/*BEM 2*/
.tituloMain__color {
  color: #56d1fa;
}

/*BEM 3*/
.tituloMain__size {
  font-size: 40px;
}

/*BEM 4*/
.tituloMain__position {
  text-align: center;
  font-size: 40px;
  padding: 2%;
}

/*BEM 5*/
.textocita__posición {
  text-align: center;
  margin: 80px 0 10px 0;
  padding: 80px 10px 80px 10px;
}

/*BEM 6*/
.textocita__bg {
  background-color: rgba(242, 165, 173, 0.685);
}

/*BEM 7*/
.textocita__color {
  color: #fff;
}

/*BEM 8*/
.Historia__Font {
  font-family: 'Dancing Script', cursive;
  color: #56d1fa;
}

/*BEM 9*/
.Historia__size {
  font-size: 50px;
}

/*BEM NUEVO PARA SECCIÓN RECETAS*/
.tituloReceta__padding {
  padding-bottom: 30px;
}

.tituloReceta__color {
  color: #56d1fa;
}

.tituloReceta__position {
  text-align: center;
}

.tituloReceta__font {
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
}

.text-recetas {
  font-size: 19px;
  font-family: 'Open Sans', sans-serif;
}

.text-recetas .leerMas {
  font-size: 16px;
}

.text-recetas .leerMas:hover {
  color: black;
  font-weight: bolder;
}

.separador {
  min-height: 100px;
  width: 100%;
  background-color: #fff;
}

.titutloGaleria {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  margin-bottom: 20px;
  color: #56d1fa;
}

#galeria .col-lg-4 {
  padding: 30px;
  margin: 0 !important;
}

#galeria img {
  width: 100%;
}

#galeria img:hover {
  border: 5px solid #f7f7f7;
  border-color: rgba(86, 209, 250, 0.363);
}
/*# sourceMappingURL=styles.css.map */